<table border="2">
<tr>
<td colspan="3"><strong><center>Aşama Noktası Ödülleri</center></strong></td>
</tr>
<tr>
<tr>
<td>1</td>
<td>50 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 5 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 750 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 1 500 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 500 Premium Kristal Parçası</td>
</tr>
<tr>
<td>2</td>
<td>200 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 20 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 1 500 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 3 000 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 500 Premium Kristal Parçası</td>
</tr>
<tr>
<td>3</td>
<td>400 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 20 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 1 500 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 4 000 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 1 000 Premium Kristal Parçası</td>
</tr>
<tr>
<td>4</td>
<td>600 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 30 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 3 000 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 5 000 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 4 000 Premium Kristal Parçası</td>
</tr>
<tr>
<td>5</td>
<td>1 000 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 30 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 3 000 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 5 000 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 4 000 Premium Kristal Parçası</td>
</tr>
<tr>
<td>6</td>
<td>1 500 000 Puan +</td>
<td><img class="items" src="{{ site.urlimg }}source/units.png"> 30 Kredi,<br />
<img class="items" src="{{ site.urlimg }}source/battle_chips.png"> 3 000 Arena Rozeti,<br />
<img class="items" src="{{ site.urlimg }}source/gold.png"> 5 000 Altın,<br />
<img class="items" src="{{ site.urlimg }}source/crystal_shard_premium.png"> 4 000 Premium Kristal Parçası</td>
</tr>