<table border="2">

<tr>
<td><strong>Sıra</strong></td>
<td><strong>Ödül</strong></td>
</tr>
<tr>
<tr>
<td>1-400</td>
<td><img class="items" src="{{ site.urlimg }}source/4starsq.png"> Arena Şampiyonu</td>
</tr>
<tr>
<td>1%-5%</td>
<td><img class="items" src="{{ site.urlimg }}source/4starsq.png"> Basic (Temel) Şampiyon,<br> <img class="items" src="{{ site.urlimg }}source/3starsq.png"> Arena Şampiyonu</td>
</tr>
<tr>
<td>6%-10%</td>
<td><img class="items" src="{{ site.urlimg }}source/3starsq.png"> Arena Şampiyonu, <br><img class="items" src="{{ site.urlimg }}source/crystal_shard_4star.png"> 150 parça 4 Yıldız Kahraman Kristali</td>
</tr>
<tr>
<td>11%-30%</td>
<td><img class="items" src="{{ site.urlimg }}source/crystal_major_event.png"> 1 tane 3 Yıldız Kristali<br><img class="items" src="{{ site.urlimg }}source/crystal_shard_4star.png"> 125 parça 4 Yıldız Kahraman Kristali</td>
</tr>
<tr>
<td>31%-60%</td>
<td><img class="items" src="{{ site.urlimg }}source/crystal_premium.png"> 2 tane Premium Kristali,<br> <img class="items" src="{{ site.urlimg }}source/crystal_shard_4star.png"> 100 parça 4 Yıldız Kahraman Kristali</td>
</tr>
<tr>

<td>61%-100%</td>
<td><img class="items" src="{{ site.urlimg }}source/crystal_premium.png"> 1 tane Premium Kristali, <br><img class="items" src="{{ site.urlimg }}source/crystal_shard_4star.png"> 75 parça 4 Yıldız Kahraman Kristali</td>
</tr>